* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: "Montserrat", serif;
    background-color: #F7F7F7;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    width: 80%; /* Ajusta el ancho del contenido */
    height: 80%; /* Ajusta la altura del contenido */
    justify-content: center;
    align-items: center;
  }
  
  .left-section {
    background-color: #0b2b3f;
    color: white;
    padding: 40px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .left-section:hover {
    transform: scale(1.05);
  }
  
  .logo-img {
    max-width: 25%; /* Ajusta el tamaño del logo para que no ocupe tanto espacio */
    height: auto;
    margin-bottom: 1px;
  }
  
  .left-section h1 {
    font-size: 1.5em;  /* Ajusta el tamaño de la fuente del título */
    font-weight: 600;
    margin-top: 20px;
  }
  
  .left-section p {
    font-size: 1.1em; /* Reduce el tamaño del texto */
    margin-top: 10px;
  }
  
  .right-section {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.1em;
    transition: all 0.3s ease;
  }
  
  form input:focus {
    border-color: #0b2b3f;
    box-shadow: 0 0 5px #0b2b3f;
  }
  
  form button {
    background-color: #0b2b3f;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form button:hover {
    background-color: #0b2b3f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Loader animado con ruedita y logo */
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
  }
  
  .loader .circle {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #FF6600;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 20px;
  }
  
  .loader img {
    width: 60px;
    animation: logoSpin 1.5s infinite linear;
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes logoSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: transparent;
  }
  
  footer p {
    font-size: 1em;
    color: #070027;
    font-family: 'Montserrat', sans-serif;
  }
  